/*ページ全般*/
*{
  margin: 0;
  padding: 0;

  color:#190E40;
  text-align: center;
}

a{
  text-decoration: none;
}

/***** テキスト・フォント系 *****/

@font-face {
	font-family: "chogokubosogothic";
	src: url(../font/chogokubosogothic.ttf) format("truetype");
}

@font-face {
	font-family: "YuGothicB";
	src: url(../font/YuGothicB.otf) format("opentype");
}

p,h1,h2,h3{
    font-family: "YuGothicB";
    font-weight: bold;
}

ol li,.font-Helve{
  font-family: "Helvetica Light","chogokubosogothic";
}

.text-color-red{
  color: #E21C21;
}

.text-under{
  /*テキストに下線を引くときに参照するクラス*/
  border-bottom: solid 1px #190E40;

}

.text-under-red{
  /*テキストに下線を引くときに参照するクラス*/
  border-bottom: solid 1px #FF0000;
}

.text-highlight{
  /*テキストにマーカーハイライトをつけたいときに参照するクラス*/
  background-color: #FFFA91;
}
.text-bold{
  font-weight: bold;
}
.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

h1{
  /*用途未定*/
  font-size:120px ;
}

h2{
  /*各コーナー(CONCEPT、PROGRAM等)見出し*/
  font-size:50px ;
}

h3{
  /*GROUPSやPROGRAMの団体名など*/
  font-size: 30px;
}

p{
  font-size: 17px;
}

.small{
  /*もう少し悩むべきだけど、親要素より少し小さくしたいときに参照するクラス*/
  /*GROUPSの「都道府県・声部」とか*/
  font-size: 82%;
}

.preformed{
  /*改行、スペース等をそのまま表示したいときに参照するクラス*/
  white-space:pre;
}



/***** リスト系 *****/
ul li{
  /*改行のインデントをそろえるためのCSS*/
  text-indent:-1em;
  padding-left:1em;
}


/***** ページコンテンツ *****/


/*ヘッダー*/
.header-container{
 padding: 10px 0px;/*ヘッダーのサイズ*/
 /*お知らせ文不掲載時のヘッダーサイズ*/

 background-color: #F7F7F7;
}

.header{

}

.header p{
  margin: 0em 0em 0.5em 0em;/*掲載時のヘッダーサイズ追加分*/


  /*ヘッダーにお知らせの掲載がない場合 display: none*/
  /*display: none;*/
}


/* メインコンテンツ */
.main-wrapper{
  /*height:500px;*/
}

.main-container{

}
.main-container::after{
  content: "";
	clear: both;
	display: block;
}

/*メイン左*/
.main-left{
  width: 30%;
  float:left;

  /*background-color: red;*/
}
/* social-bar */
.logo-img{
  width: 1.25em;
}


/*メイン中央*/
.main-center{
  width: 40%;
  float: left;

  /*background-color: blue;*/
}

/* TOP */
.content-TOP{
  margin-bottom: 3em;
}

.content-TOP-keyvisual{
  width: 100%;
}

.content-TOP-schedule{
  width: 100%;
}


/* CONCEPT */
.content-CONCEPT{
  margin-bottom: 3em;
}

.content-CONCEPT-text p{
  text-align: left;

}

/* GROUPS */
.content-GROUPS{
  margin-bottom: 3em;
}

.content-GROUPS ul{
  list-style-type: none;
}

.content-GROUPS ul li img{
  height: 1em;
  /*float: right;*/
}

.content-GROUPS ul li img::after{
  /*clear: both;*/
}

/* PROGRAM */
.content-PROGRAM{
  margin-bottom: 3em;
}

/* TICKETS */
.content-TICKETS{
  margin-bottom: 3em;
}

.content-TICKETS-text p{
  text-align: left;
}


/*メイン右*/
.main-right{
  width: 30%;
  float: right;

  /*background-color: green;*/
}

.menu-bar ol{
  list-style-type: none;
}

.menu-bar ol li{
  text-align: left;
}
.menu-bar ol li::after{
  content: "〇"
  /* javascriptで今いる位置に合わせてContentを変える */
  /* もしかしたら画像指定かも */
}


.arrow-to-top{
  width: 5em;
}

/*フッター*/
.footer-container{
  clear: both;
  padding: 10px 0px;/*フッダーのサイズ*/
  background-color: #E8E8E8;
}

.footer{

  /*border-top: なんかそれっぽいの*/

  margin: 1.5em 0em 1.5em 0em;

}
